Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Youtube_dataset_utf8.csv', index_col=0)

# Display the first few rows of the dataframe
df.head()

,Title,Published_date,Views,Like_count,Comment_Count
Channel_Name,,,,,
Rishabh Mishra,POWER BI Full PROJECT for Data Analysis with P...,4/20/2024,157284.0,5575.0,632.0
Rishabh Mishra,AI Revolution - Future of Data Analyst Jobs & ...,3/23/2024,78155.0,2712.0,245.0
Rishabh Mishra,Reality of Data Analyst Courses and Data Scien...,3/16/2024,43627.0,1285.0,267.0
Rishabh Mishra,Personal Portfolio Website for Beginners | How...,1/21/2024,129956.0,3462.0,358.0
Rishabh Mishra,How To Create LinkedIn Profile in 2024 | Linke...,1/17/2024,143309.0,3389.0,192.0

In [3]:
# Display basic information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23002 entries, Rishabh Mishra to Alex The Analyst
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           23002 non-null  object
 1   Published_date  23002 non-null  object
 2   Views           23000 non-null  float64
 3   Like_count      22967 non-null  float64
 4   Comment_Count   22975 non-null  float64
dtypes: float64(3), object(2)
memory usage: 1.1+ MB

In [4]:
# Convert Published_date to datetime format
df["Published_date"] = pd.to_datetime(df["Published_date"], errors="coerce")

# Handle missing values (filling with 0)
df.loc[:, "Views"] = df["Views"].fillna(0)
df.loc[:, "Like_count"] = df["Like_count"].fillna(0)
df.loc[:, "Comment_Count"] = df["Comment_Count"].fillna(0)

# Summary statistics
df_summary = df.describe()

df_summary

,Published_date,Views,Like_count,Comment_Count
count,23002,2.300200e+04,2.300200e+04,23002.000000
mean,2019-07-21 12:10:16.015998720,1.135580e+05,2.415329e+03,102.429745
min,2008-02-29 00:00:00,0.000000e+00,0.000000e+00,0.000000
25%,2017-11-13 00:00:00,6.447000e+03,9.500000e+01,8.000000
50%,2020-10-12 00:00:00,1.911450e+04,3.590000e+02,25.000000
75%,2022-05-15 00:00:00,6.555875e+04,1.274500e+03,77.000000
max,2024-06-21 00:00:00,4.426709e+07,1.041273e+06,44343.000000
std,NaN,5.400898e+05,1.255465e+04,431.057430

In [5]:
# Aggregate total views, likes, and comments per channel
channel_performance = df.groupby("Channel_Name").agg(
    Total_Views=("Views", "sum"),
    Total_Likes=("Like_count", "sum"),
    Total_Comments=("Comment_Count", "sum"),
    Video_Count=("Title", "count")
).sort_values(by="Total_Views", ascending=False)

# Display top 10 performing channels by total views
channel_performance.head(10)

,Total_Views,Total_Likes,Total_Comments,Video_Count
Channel_Name,,,,
freeCodeCamp.org,725320015.0,16103492.0,497821.0,1674
Kevin Stratvert,422515221.0,7949389.0,327783.0,858
WsCube Tech,292430002.0,7278563.0,209701.0,5167
Leila Gharani,253842158.0,5748705.0,211480.0,584
ExcelIsFun,154836529.0,1048956.0,150068.0,3698
sentdex,114931493.0,1363190.0,135869.0,1254
Krish Naik,99108897.0,2346325.0,130323.0,1836
codebasics,86203394.0,1884503.0,82454.0,881
StatQuest with Josh Starmer,65995736.0,1433189.0,94141.0,279
Socratica,59555652.0,1201657.0,52862.0,661

In [7]:
# Get the top 10 most-watched videos
top_videos = df.nlargest(10, "Views")[["Title", "Views", "Like_count", "Comment_Count", "Published_date"]]

top_videos

,Title,Views,Like_count,Comment_Count,Published_date
Channel_Name,,,,,
freeCodeCamp.org,Learn Python - Full Course for Beginners [Tuto...,44267093.0,1041273.0,44343.0,2018-07-11
WsCube Tech,Ethical HACKING Full Course in 10 HOURS (Begin...,22017238.0,581831.0,7774.0,2021-08-29
freeCodeCamp.org,SQL Tutorial - Full Database Course for Beginners,18100085.0,340592.0,11119.0,2018-07-02
freeCodeCamp.org,Learn JavaScript - Full Course for Beginners,17141758.0,258906.0,8558.0,2018-12-10
freeCodeCamp.org,C++ Tutorial for Beginners - Full Course,12280808.0,281268.0,11974.0,2018-08-24
freeCodeCamp.org,C Programming Tutorial for Beginners,11452401.0,195881.0,6686.0,2018-08-15
freeCodeCamp.org,Harvard CS50 ?? Full Computer Science Univers...,11116950.0,438036.0,7335.0,2022-10-19
codebasics,Don't put toy dataset projects on your resume!,9352112.0,173395.0,545.0,2024-03-22
freeCodeCamp.org,Microsoft Excel Tutorial for Beginners - Full ...,9035366.0,150453.0,2462.0,2020-10-28
freeCodeCamp.org,Introduction to Programming and Computer Scien...,8284519.0,198815.0,4112.0,2020-04-21

In [9]:
# Remove videos with 0 views
df_filtered = df[df["Views"] > 0].copy()

# Recalculate Engagement Rate
df_filtered["Engagement_Rate"] = ((df_filtered["Like_count"] + df_filtered["Comment_Count"]) / df_filtered["Views"]) * 100

# Get the top 10 videos with the highest engagement rate
top_engaged_videos = df_filtered.nlargest(10, "Engagement_Rate")[["Title", "Views", "Like_count", "Comment_Count", "Engagement_Rate", "Published_date"]]

top_engaged_videos

,Title,Views,Like_count,Comment_Count,Engagement_Rate,Published_date
Channel_Name,,,,,,
Kevin Stratvert,14-9. Print: Page break view,61.0,22.0,17.0,63.934426,2022-11-08
CampusX,10K Subscribers Milestone | Thank You All,930.0,173.0,98.0,29.139785,2021-12-17
Kevin Stratvert,14-3. Print: Hide column,60.0,6.0,11.0,28.333333,2022-11-08
Kevin Stratvert,10-1. Flash fill: Separate and merge data usin...,97.0,12.0,13.0,25.773196,2022-11-08
Ryan Nolan Data,Python List Comprehension in 25 Minutes,16.0,2.0,2.0,25.000000,2024-06-21
Kevin Stratvert,14-6. Print: Repeat headers,59.0,8.0,6.0,23.728814,2022-11-08
ExcelIsFun,excelisfun YouTube Birthday Party: 12 Years ...,4930.0,634.0,477.0,22.535497,2020-02-15
CampusX,20K Subscribers Milestone | Channel Updates,1595.0,271.0,77.0,21.818182,2022-05-07
Chandoo,50K Subscribers - Celebration + Giveaway,3088.0,348.0,321.0,21.664508,2020-05-25
codebasics,100K subscribers. Thanks For Your Support & Love!,1325.0,133.0,132.0,20.000000,2020-04-15

In [10]:
# Extract year from Published_date
df_filtered["Year"] = df_filtered["Published_date"].dt.year

# Count videos published per year
videos_per_year = df_filtered["Year"].value_counts().sort_index()

videos_per_year

Year
2008     366
2009     614
2010     489
2011     359
2012     442
2013     686
2014     502
2015     621
2016     647
2017    1129
2018    1144
2019    2041
2020    3175
2021    3735
2022    3427
2023    2413
2024    1187
Name: count, dtype: int64

In [11]:
# Extract month name from Published_date
df_filtered["Month"] = df_filtered["Published_date"].dt.month_name()

# Count videos published per month
videos_per_month = df_filtered["Month"].value_counts()

videos_per_month

Month
March        2252
May          2108
February     2050
June         2028
October      2000
July         1921
January      1894
November     1874
August       1841
April        1741
September    1691
December     1577
Name: count, dtype: int64